<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Tuitiion Verification</title>
        </head>
        <body>
            <div>
                <h3>Account verification</h3><br>

                <p>Welcome to Tuition, Click on the button below to verify your Account</p>
                <a href="{link}", style="margin-top: 1rem; padding: 1rem; border-radius: 0.5rem; font-size: 1rem;text-decoration: none; background: #27B55B; color: white;">Verify your email</a>

                <p>Kindly ignore the email if you did not sign up for Tuition. Thank you!</p>
            </div>
        </body>
        </html>